# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================
venv/
ENV/
env/
.venv
.env

# ============================================================
# TESTING (NO SUBIR REPORTS AL REPO)
# ============================================================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.cover
.hypothesis/
.tox/
coverage.xml
*.log
test-results/
junit.xml



# ============================================================
# IDE
# ============================================================
.vscode/
.idea/
*.swp
*.swo
*~

# ============================================================
# OS
# ============================================================
.DS_Store
Thumbs.db
desktop.ini



# ============================================================
# DATABASES
# ============================================================
*.db
*.sqlite
*.sqlite3


# ============================================================
# KAFKA/MONGO LOCAL DATA
# ============================================================
data/
logs/
kafka-logs/
zookeeper/
mongo-data/


# ============================================================
# KAFKA/MONGO LOCAL DATA
# ============================================================
data/
logs/
*.log
kafka-logs/
zookeeper/
mongo-data/
*.csv
*.parquet


# ============================================================
# Ignorar la carpeta de generación de datos random
# ============================================================
Estructura/datagen/*
!Estructura/datagen/__init__.py

# Laboratorio local
Estructura/services/data-processor/src/labo_*
*.ipynb
