# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Data
data/
*.csv
*.parquet

# Tests
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Ignorar la carpeta de generación de datos
Estructura/datagen/*
!Estructura/datagen/__init__.py
